<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/dashboard.css" />
    <link rel="stylesheet" href="/assets/css/auth.css" />
</head>

<body>
  <!-- <%- include('./partials/header.ejs') %> -->

  <%- include('./partials/dashboard-header.ejs') %>
    <!-- Load the `mapbox-gl-geocoder` plugin. -->
    <script
      src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css">

    <main class="dashboard-main">
      <% if(user.role==="admin" ) { %>

        <%- include('./partials/sidebar.ejs') %>

          <div class="site-section bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-7 mb-5">
                  <header>
                    <h1>Hey, <%= user.first_name %>
                    </h1>
                  </header>

                  <div class="shipments">
                    <h4 class="mb-3">All shipments</h4>

                    <ul class="cards">
                      <% shipments.forEach(shipment=> { %>
                        <li class="card">
                          <header>
                            <h4>
                              <%= shipment.description %>
                            </h4>
                            <p class="card" style="margin: 1rem 0 1rem 0;border: 1px solid #ddeedd">
                              <b>Pickup Location:</b>
                              <%= JSON.stringify(shipment.pickup_loc.data.place_name) %>
                                <code
                                  class="outline-secondary"> <%= JSON.stringify(shipment.pickup_loc.lngLat) %> </code>
                            </p>
                            <p class="card" style="margin: 1rem 0 1rem 0;border: 1px solid #ddeedd">
                              <b>Destination Location:</b>
                              <%= JSON.stringify(shipment.destination_loc.data.place_name) %>
                                <code
                                  class="outline-secondary"> <%= JSON.stringify(shipment.destination_loc.lngLat) %> </code>
                            </p>
                            <p class="card" style="margin: 1rem 0 1rem 0;border: 1px solid #ddeedd">
                              <b>Current Location:</b>
                              <%= JSON.stringify(shipment.current_loc.data.place_name) %>
                                <code
                                  class="outline-secondary"> <%= JSON.stringify(shipment.current_loc.lngLat) %> </code>
                            </p>
                            <pre class="mt-3">Tracking code:  <%= shipment._id %> </pre>
                            <pre class="">Customer:  <%= shipment.customer.first_name %> </pre>
                          </header>

                          <div class="options">
                            <button value="id_<%= shipment._id %>"
                              data-pickup="<%=JSON.stringify(shipment.pickup_loc.lngLat) %>"
                              data-destination="<%=JSON.stringify(shipment.destination_loc.lngLat) %>"
                              data-current="<%=JSON.stringify(shipment.current_loc.lngLat) %>" class="cta edit"
                              style="margin-right: 1rem;">
                              Edit
                            </button>

                            <button value="<%= shipment._id %>" class="shipment cta delete">
                              Delete
                            </button>
                          </div>

                          <div id="id_<%= shipment._id %>" class="edits hidden">
                            <form value="<%= shipment._id %> " class="mt-5">
                              <div class="row form-group">
                                <input type="text" id="customer" class="form-control" value="<%= user._id %>" hidden />
                                <div class="col-md-12">
                                  <label class="text-black" for="pickup_loc">Pickup Location</label>
                                  <div type="text" id="pickup_loc_search" class="form-control mapbox-input" required>
                                  </div>

                                  <textarea type="text" id="pickup_loc" class="form-control"
                                    value="<%= JSON.stringify(shipment.pickup_loc) %>" rows="9" required>
                                  <%= JSON.stringify(shipment.pickup_loc) %>
                                  </textarea>
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-md-12">
                                  <label class="text-black" for="destination_loc">Destination</label>
                                  <div type="text" id="destination_loc_search" class="form-control mapbox-input"
                                    required></div>

                                  <textarea type="text" id="destination_loc" class="form-control"
                                    value="<%= JSON.stringify(shipment.destination_loc) %>" rows="9" required>
                                  <%= JSON.stringify(shipment.destination_loc) %></textarea>
                                </div>
                              </div>

                              <div class="row form-group">
                                <div class="col-md-12">
                                  <label class="text-black" for="destination_loc">Current location</label>
                                  <div type="text" id="current_loc_search" class="form-control mapbox-input" required>
                                  </div>

                                  <textarea type="text" id="current_loc" class="form-control"
                                    value="<%= JSON.stringify(shipment.current_loc) %>" rows="9" required>
                                  <%= JSON.stringify(shipment.current_loc) %>
                                  </textarea>
                                </div>
                              </div>

                              <!-- MAP -->
                              <div class="row form-group">
                                <div class="col-md-12">
                                  <div id='map_id_<%= shipment._id %>' style='width: 500px; height: 500px;'></div>
                                  <pre id="coords_id_<%= shipment._id %>" class="coordinates"></pre>
                                </div>
                              </div>
                              <!-- END MAP -->

                              <div class="row form-group">
                                <div class="col-md-12">
                                  <input type="submit" value="Update shipment"
                                    class="btn btn-primary py-2 px-4 text-white" />
                                </div>
                              </div>

                            </form>
                          </div>
                        </li>
                        <% }); %>
                    </ul>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="customers">
                    <h4 class="mb-3">All customers</h4>

                    <ul class="cards">

                      <% users.forEach(customer=> { %>
                        <li class="card bg-white">
                          <header>
                            <h4>
                              <%= customer.first_name %>
                            </h4>
                            <p>
                              <%= customer.shipments.length> 1 ? `${customer.shipments.length} Shipments` :
                                `${customer.shipments.length} Shipment` %>
                            </p>
                          </header>

                          <div class="options" style="margin-top: 0;">
                            <button value="<%= customer._id %>" class="customer cta delete">
                              Delete
                            </button>
                          </div>
                        </li>
                        <% }); %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% } else { %>

            <header class="container mt-3">
              <h1>Oops... you need to sign in as admin</h1>
              <p><a href="/">Go to website</a></p>
            </header>

            <% } %>
    </main>

    <div id="bubble" class="bubble">
      <span>Some Message</span>
    </div>

    <%- include('./partials/footer.ejs') %>
      <%- include('./partials/scripts.ejs') %>



        <script type="module">
          let activeMap = window.activeMap = false;

          import funcs from "/assets/js/main.js";
          const { getData, bubbleFunc } = funcs;
          // let pickup_address;
          // let destination_address;

          mapboxgl.accessToken = 'pk.eyJ1IjoibWlyYWNsZWlvIiwiYSI6ImNsMWxlZXBzZzA5dnUzaXM5aGdxcjF6emkifQ.9jyycP5jJTS_veZVNPCXiA';
          let map;
          let coordinates;

          const getCoords = (e) => {
            const data = e.result
            const lngLat = {
              lng: data.geometry.coordinates[0],
              lat: data.geometry.coordinates[1]
            }
            console.log("pickup_Geocoder ==>", { data, lngLat })

            return { data, lngLat }
          }


          const cb = ({ map, center, coordinates }) => {
            const marker1 = new mapboxgl.Marker({
              color: "#000",
              draggable: true
            })
              .setLngLat(center)
              .setPopup(new mapboxgl.Popup().setHTML(
                `<h3>Location</h3>
                <p>Drag me to change the location</p>
                <p>Coordinates: <span id="lat"> yo </span></p>
                `
              ))
              .addTo(map);
            // Add the control to the map.
            map.addControl(
              new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl
              })
            );
            // Add the control to the map.
            map.addControl(
              new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                localGeocoder: coordinatesGeocoder,
                zoom: 4,
                placeholder: 'Try: -40, 170',
                mapboxgl: mapboxgl,
                reverseGeocode: true
              })
            );
            map.addControl(new mapboxgl.NavigationControl());

            marker1.on('dragend', () => onDragEnd({ marker: marker1, coordinates }));

            map.on('click', (e) => {
              const newCoords = e.lngLat;
              console.log({ lng: newCoords.lng, lat: newCoords.lat });
              marker1.setLngLat(newCoords).addTo(map)
            })

          };

          /* Given a query in the form "lng, lat" or "lat, lng"
* returns the matching geographic coordinate(s)
* as search results in carmen geojson format,
* https://github.com/mapbox/carmen/blob/master/carmen-geojson.md */
          const coordinatesGeocoder = function (query) {
            // Match anything which looks like
            // decimal degrees coordinate pair.
            const matches = query.match(
              /^[ ]*(?:Lat: )?(-?\d+\.?\d*)[, ]+(?:Lng: )?(-?\d+\.?\d*)[ ]*$/i
            );
            if (!matches) {
              return null;
            }

            function coordinateFeature(lng, lat) {
              return {
                center: [lng, lat],
                geometry: {
                  type: 'Point',
                  coordinates: [lng, lat]
                },
                place_name: 'Lat: ' + lat + ' Lng: ' + lng,
                place_type: ['coordinate'],
                properties: {},
                type: 'Feature'
              };
            }

            const coord1 = Number(matches[1]);
            const coord2 = Number(matches[2]);
            const geocodes = [];

            if (coord1 < -90 || coord1 > 90) {
              // must be lng, lat
              geocodes.push(coordinateFeature(coord1, coord2));
            }

            if (coord2 < -90 || coord2 > 90) {
              // must be lat, lng
              geocodes.push(coordinateFeature(coord2, coord1));
            }

            if (geocodes.length === 0) {
              // else could be either lng, lat or lat, lng
              geocodes.push(coordinateFeature(coord1, coord2));
              geocodes.push(coordinateFeature(coord2, coord1));
            }

            return geocodes;
          };

          const mapboxGeocoderOptions = {
            accessToken: mapboxgl.accessToken,
            types: 'country,region,place,postcode,locality,neighborhood',
            localGeocoder: coordinatesGeocoder,
            zoom: 4,
            placeholder: 'Try: -40, 170',
            mapboxgl: mapboxgl,
            reverseGeocode: true

          }

          const pickup_Geocoder = new MapboxGeocoder(mapboxGeocoderOptions);
          const destination_Geocoder = new MapboxGeocoder(mapboxGeocoderOptions);
          const current_Geocoder = new MapboxGeocoder(mapboxGeocoderOptions);

          pickup_Geocoder.addTo('#pickup_loc_search');
          destination_Geocoder.addTo('#destination_loc_search');
          current_Geocoder.addTo('#current_loc_search');

          pickup_Geocoder.on('result', (e) => {
            window.pickupData = getCoords(e)
            pickup_loc.value = JSON.stringify(getCoords(e))
            console.log(pickup_loc.value);
          });

          destination_Geocoder.on('result', (e) => {
            window.destinationData = getCoords(e)
            destination_loc.value = JSON.stringify(getCoords(e))
            console.log(destination_loc.value);
          });

          current_Geocoder.on('result', (e) => {
            window.currentData = getCoords(e)
            current_loc.value = JSON.stringify(getCoords(e))
            console.log(current_loc.value);
          });

          console.log(pickup_Geocoder);



          const initMapBox = ({ container, center, coordsID }, cb) => {
            map = new mapboxgl.Map({
              container,
              center,
              zoom: 6,
              style: 'mapbox://styles/mapbox/streets-v11'
            });

            coordinates = document.getElementById(coordsID);

            cb({ map, center, coordinates })
          }


          function onDragEnd({ marker, coordinates }) {
            const lngLat = marker.getLngLat();
            coordinates.style.display = 'block';
            coordinates.innerHTML = `Longitude: ${lngLat.lng}<br />Latitude: ${lngLat.lat}`;
          }


          const deleteShipment = async (id) => {
            console.log("111", id);
            let proceed = confirm("This will permanently delete this shipment. Proceed?")
            if (proceed) {
              try {
                const res = await fetch(`/shipment/${id}`, {
                  method: "DELETE",
                });
                const data = await res.json();
                bubbleFunc({ message: "Shipment deleted succesfully" });
              } catch (err) {
                console.log(err);
              }
            }
          };

          const deleteUser = async (id) => {
            console.log("111", id);
            let proceed = confirm("This will permanently delete this user and all associated shipments. Proceed?")
            if (proceed) {
              try {
                const res = await fetch(`/user/${id}`, {
                  method: "DELETE",
                });
                const data = await res.json();
                bubbleFunc({ message: "User deleted succesfully" });
              } catch (err) {
                console.log(err);
              }
            } else null
          };

          const deleteBtns = document.querySelectorAll(".shipment.cta.delete");
          deleteBtns.forEach((btn) =>
            btn.addEventListener("click", (e) => deleteShipment(e.target.value))
          );

          const deleteUserBtns = document.querySelectorAll(".customer.cta.delete");
          deleteUserBtns.forEach((btn) =>
            btn.addEventListener("click", (e) => deleteUser(e.target.value))
          );



          const editBtns = document.querySelectorAll('.cta.edit')
          editBtns.forEach(btn => {
            let id = btn.value
            let current_loc = JSON.parse(btn.getAttribute('data-current'))
            let pickup_loc = JSON.parse(btn.getAttribute('data-pickup'))
            let destination_loc = JSON.parse(btn.getAttribute('data-destination'))

            console.log({ id, data: { current_loc, pickup_loc, destination_loc } })

            btn.addEventListener("click", (e) => {
              if (activeMap) {
                map.remove();
                activeMap = false;
              } else {
                initMapBox({ container: `map_${id}`, center: current_loc, coordsID: `coords_${id}` }, cb);
                activeMap = true;
              }
              document.querySelector(`#${id}`).classList.toggle("hidden")
            })
          })

          const editForms = document.querySelectorAll('.edits form').forEach((form) => {
            let id = form.getAttribute('value');
            console.log(form);
            form.addEventListener('submit', async (e) => {
              e.preventDefault();
              let pickup_loc = form.querySelector('#pickup_loc')
              let destination_loc = form.querySelector('#destination_loc')
              let current_loc = form.querySelector('#current_loc')
              let customer = form.querySelector('#customer')

              const formData = getData([
                customer,
                pickup_loc,
                destination_loc,
                current_loc,
              ]);

              // formData.customer = JSON.parse(customer)
              formData.pickup_loc = JSON.parse(formData.pickup_loc)
              formData.destination_loc = JSON.parse(formData.destination_loc)
              formData.current_loc = JSON.parse(formData.current_loc)

              console.log(formData);

              try {
                const res = await fetch(`/shipment/${id}`, {
                  method: "PUT",
                  body: JSON.stringify(formData),
                  headers: { "Content-Type": "application/json" },
                });

                const data = await res.json();
                bubble.querySelector("span").textContent =
                  "Shipment updated successfully";
                bubble.classList.add(...["active", "success"]);

                setTimeout(() => {
                  bubble.classList.remove("active");
                  window.location.reload();
                }, 2000);

                console.log(data);
              } catch (err) {
                console.log(err);
              }
            });
          })

        </script>

        <!-- <script>
          function initMap() {
            const center = { lat: 9.082, lng: 8.6753 };

            // Create a bounding box with sides ~10km away from the center point
            const defaultBounds = {
              north: center.lat + 10,
              south: center.lat - 10,
              east: center.lng + 10,
              west: center.lng - 10,
            };

            const options = {
              bounds: defaultBounds,
              componentRestrictions: { country: "ng" },
              fields: ["formatted_address", "address_components", "geometry", "icon", "name"],
              strictBounds: false,
              types: ["address"],
            };

            const pickup = new google.maps.places.Autocomplete(pickup_loc, options);

            const destination = new google.maps.places.Autocomplete(
              destination_loc,
              options
            );

            pickup.addListener("place_changed", (e) => {
              window.pickup_address = pickup.getPlace();
            });

            destination.addListener("place_changed", (e) => {
              window.destination_address = destination.getPlace();
            });
          }
        </script>

        <script async
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVn6omdBfSc6t6AVR5ZMDKvWLJHm28nAs&libraries=places&callback=initMap"></script> -->


</body>

</html>