<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/assets/css/dashboard.css">
</head>

<body>

  <!-- <%- include('./partials/header.ejs') %> -->

  <%- include('./partials/dashboard-header.ejs') %>

  <main class="dashboard-main">

    <%- include('./partials/sidebar.ejs') %>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mb-5">
            <header>
              <h1>Hey, <%= user.first_name %> </h1>
            </header>

            <div class="shipments">
              <h4 class="mb-3">Your shipments</h4>

              <ul class="cards">
                <% user.shipments.forEach(shipment => { %>
                <li class="card">
                  <header>
                    <h2> <%= shipment.description %> </h2>
                    <pre> <%= shipment._id %> </pre>
                  </header>
                </li>
                <% }); %>
              </ul>
            </div>


          </div>
          <div class="col-md-5">
            <form action="#" class="p-4 bg-white">
              <header class="mb-3">
                <h4>Add new shipment</h4>
              </header>

              <div class="row form-group">
                <input type="text" id="customer_id" class="form-control" value="<%= user._id %> " hidden>
                <div class="col-md-12">
                  <label class="text-black" for="pickup_loc">Pickup Location</label>
                  <input type="text" id="pickup_loc" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="destination">Destination</label>
                  <input type="email" id="destination" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="description">Description</label>
                  <input type="text" id="description" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Add shipment" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </main>

  <%- include('./partials/footer.ejs') %>

  <%- include('./partials/scripts.ejs') %>
</body>

</html>